*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #dee2e6;
}
.nav-center{
    display: flex;
    justify-content:space-around;
    background-color: #fff;
    box-shadow: 2px 2px  #f1f3f5;
    
}
.nav-center button{
    border: none;
    outline: none;

}
.btn{
    padding: 12px 15px;
    color: #4dabf7;
}
 .btn:hover{
    cursor: pointer;
    border-bottom: 2px solid grey;
    background-color:#f1f3f5;
}
.content{
    display: flex;
    justify-content: center;
    margin-top:50px;
}
.switch-content{
    display: none;
}
.switch-content.active{
    display: block;
}
.clickhere{
    padding: 10px 20px;
    border: none;
    outline: none;
    margin: 10px;
    border-radius: 10px;
    cursor: pointer;
    color: #fff;
    background-color: #4dabf7;
}
