*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Orbitron', sans-serif;
}
.quote-editor{
    display: grid;
    grid-template-columns: 3fr 10fr 3fr;
    grid-template-rows: 12vh 70vh 20vh;
    height: 100vh;
    overflow: hidden;
}
.header-box{
    grid-row: 1 / 2;
    grid-column: 1 / -1;
    padding: 0.878vw 3.660vw 0.878vw 0.878vw;
    display: flex;
    align-items: center;
    justify-items: space-between;
    justify-content: space-between;
    background-image: linear-gradient(135deg,#8C1BAB 10%, #F761A1 100%);
}
.aside-box{
    grid-row: 2 / 4;
    grid-column: 1 / 2;
    padding: 0 1.318vw;
    
}
.output-box{
    grid-row: 2 / -1;
    grid-column: 2 / 3;
}
.image-box{
    grid-row: 2 / -1;
    grid-column: 3 / 4;
}
.header-box .logo{
    color: #eee;
    font-size: 2.050vw;
    letter-spacing: 0.117vw;
}
.header-tool-box{
    display: flex;
    gap: 1.757vw;
}
.header-tool-box > div{
    display: flex;
    flex-direction: column;
    gap: 0.586vw;
}
.header-tool-box label{
    font-size: 0.878vw;
    color: #eee;
}
select{
    display: inline-block;
    padding: 0.293vw 0.439vw;
    font-family: inherit;
    font-size: 0.878vw;
    cursor: pointer;
    letter-spacing: 0.088vw;
}
.custom-select option{
    padding: 0.366vw;
}
select::after{
    padding: 0.732vw;
}   
.font-size input{
    width: 5.271vw;
    appearance: none;
    border: none;
    border-radius: 0.146vw;
    display: inline-block;
    padding: 0.439vw 0.878vw;
    font-size: 1.025vw;
    outline: none;
    font-family: inherit;
    letter-spacing: 0.073vw;
}
.font-size input:focus{
    outline: 0.146vw solid #8C1BAB;
    font-family: inherit;
}
.font-weight .btn-fs{
    width: 3.660vw;
    border-radius: 0.366vw;
}
.font-weight .font-btn{
    display: inline-block;
    color: #eee;
    width: 90%;
    margin: 0.146vw; 
    outline: none;
    border: none;
    border-radius:0.366vw;
    padding: 0.366vw 0.293vw;
    background-color: #222;
    font-family: inherit;
}
.text-align{
    width: 7.321vw;
    text-align: center;
}
.align-box{
    display: flex;
    justify-content: space-between;
    padding: 0.146vw 0.366vw;
}
.align-box .alignbtn{
    border-radius: 0.220vw;
    cursor: pointer;
}
.margin{
    width: 7.321vw;
    text-align: center;
}
.margin-box{
    display: flex;
    justify-content: space-between;
    padding: 0 0.293vw;
}
.mgbtn{
    display: inline-block;
    border-radius: 0.366vw;
    color: #eee;
    text-align: center;
    margin: 0.366vw ;
    cursor: pointer;
}
.tac{
    text-align: center;
    margin-top: 0.366vw ;
}
.bgcolor-box {
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-gap: 0.732vw;
    background-color: #fff;
    padding: 0.293vw;
    margin: 0 auto; 
}
.clrbtn {
    width: 2.928vw;
    height: 2.928vw;
}
.gradients-box{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-gap: 0.732vw;
    background-color: #fff;
    padding: 0.293vw;
    margin: 0 auto; 
}
.grdbtn{
    width: 2.928vw;
    height: 2.928vw;
}
.search-box input{ 
    width: 85%;
    height: 2.196vw;
    border: none;
    border-radius: 0.586vw;
}
.search-box button{
    width: 2.196vw;
    height: 2.196vw;
    border-radius: 0.586vw;
    border: none;
}
.search-box input:focus{
    outline: 0.146vw solid #8C1BAB;
}
.ft-sm{
    font-size: 0.878vw;
}

.ml-sm{
    margin-left: 0.439vw;
}
.clr-grey{
    color: #444;
}
.aside-box label{
    display: inline-block;
    margin-bottom: 0.732vw;
    font-size: 1.171vw;
    color: #555;
}
.aside-box > div{
    margin-top: 1.757vw;
}
.opactity-label{
    font-size: 1.025vw;
}

input[type="range"],
.clrbtn,
.grdbtn{
    cursor: pointer;
}

.align-box{
    padding: 0.293vw 0.439vw;
}

.alignbtn i{
    color: #ddd;
}

.image-box{
    padding: 0.732vw 1.025vw;
}

.image-box label{
    display: inline-block;
    margin-bottom: 0.878vw;
    letter-spacing: 0.088vw;
    color: #555;
}

.search-box{
    display: flex;
    gap: 0.732vw;
}

.search-box input{
    border-bottom: 0.073vw solid #444;
    border-radius: 0;
    transition: all 0.2s;
    padding:0.146vw 0.439vw;
    margin-bottom: 0.732vw;
    font-family: inherit;
    font-size: 1.025vw;
    letter-spacing: 0.088vw;
}

.search-box input:focus{
    outline: none;
    border-bottom : 0.146vw solid #862e9c;
}

.search-box button{
    cursor: pointer;
}

.font-btn-light{
    color: #333 !important;
    background-color: #eee !important;
}

.output-box textarea{
    background-color: #eee;
    outline: none;
    border: none;
    resize: auto;
    z-index: 100;
    padding: 0.732vw 0.878vw;
    background-color: transparent; 
    resize: none;
    scrollbar-width: none; /* For Firefox */
    -ms-overflow-style: none; /* For Microsoft Edge */
    width: 43.924vw;
}

.output-box textarea::-webkit-scrollbar,
.images::-webkit-scrollbar {
    display: none;
}

.output-box {
    position: relative;
}

.output-box textarea,
.output-box h2{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.output-box h2{
    z-index: 50;
}
.display-none{
    background-color: transparent;
}
.searched-images{
    overflow: scroll;
    height: 70vh;
    scrollbar-width: none; /* For Firefox */
    -ms-overflow-style: none; /* For Microsoft Edge */
}
.searched-images::-webkit-scrollbar{
    display: none;
}
.searched-images img{
    width: 90%;
    margin-top: 0.732vw;
    margin-bottom: 0.732vw;
    height: auto;
    display: block;
    cursor: pointer;
}
.background-image-div,
.background-gradient-div{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
}
.background-gradient-div{
    background-image: linear-gradient(135deg,rgba(141, 27, 172, 0.5) 10%, rgba(247, 95, 161, 0.5) 100%);
}
.text-transform-box{
    display: flex;
    justify-content: space-between;
    gap: 0.586vw;
}
.text-transform-box .transformbtn{
    width: 2.562vw;
    text-align: center;
    padding: 0.146vw;
    border: none;
    outline: none;
    color: #eee;
    background-color: transparent;
}
.name-box{
    position: absolute;
    top: 80%;
    left: 63%;
    z-index: 2000;
}
.name-box h4{
    letter-spacing: 0.110vw;
}

#name-box {
    display: inline-block;
    padding: 0.732vw;
    cursor: grab;
}
.text-height{
    color: inherit;
}
.text-height .fa{
    color: #eee;
}
.text-height input{ 
    width: 4.392vw;
    height: 2.196vw;
    border: none;
    margin-left: 0.732vw;
    font-family: inherit;
    padding: 0.439vw;
    font-size: 1.025vw;
}
.text-height input:focus{
    outline: 0.146vw solid #8C1BAB;
}