* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #d3f9d8;
}
.container h2{
    text-align: center;
}
form {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.formgroup {
    margin-bottom: 25px;
    padding: 5px 10px;
}
label {
    display: block;
    margin-bottom: 6px;
}
input[type="text"],
input[type="number"] {
    width: calc(100% - 12px);
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
input[type="submit"] {
    padding: 10px 15px;
    border: none;
    border-radius: 10px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
input[type="submit"]:hover {
    background-color: #0056b3;
}
table {
    border-collapse: collapse;
    width: 100%;
}
th, td {
    border: 2px solid #dddddd;
    text-align: center;
    padding: 8px;
}
th {
    background-color: #37b24d;
}
/* tbody tr:nth-child(odd) {
    background-color: #f2f2f2;
}
tbody tr:nth-child(even) {
    background-color: #e6e6e6;
} */

