body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color:#dee2e6;
}
.container {
    margin: 20px auto;
    border-radius: 5px;
}

.container h1 {
    text-align: center;
    color: #3bc9db;
}
.input-container {
    background-color: #fff;
    padding: 10px;
    align-content: center;
    max-width: 70vw;
    border-radius: 5px;
    margin-bottom: 20px;
    margin: 0 auto;
    box-shadow: 4px 4px #ced4da;
}
.form-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}
.form-group {
    flex: 0 0 calc(40% - 10px);  
}
input[type="text"],
input[type="date"],
select {
    width: calc(100% - 10px);
    padding: 12px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
label {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
}
.btn{
    background-color: green;
    color: #fff;
    border-radius: 5px;
    border: none;
    outline: none;
    padding: 10px 12px;
}
option{
    background-color:#495057;
    color: #fff;
}
.errormsg{
    color: #1098ad;
    text-align: center;
    
}
.table
{
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #fff;
}
.table th .table td{
    border: 1px solid #dee2e6;
    padding: 8px;
    text-align: center;
}
.table th{
    background-color: #3bc9db;
    color: #fff;
    padding: 10px;
}
.table tbody tr:nth-child(even){
    background-color: azure;

}
.table tbody tr:nth-child(odd){
    background-color: #3bc9db;

}
.table td{
    text-align: center;
    padding: 8px;
}
